*{
  font-family: Lato,  sans-serif;
}

#search-input{
  background: #F8F7F5;
  border: 1px solid rgb(209, 207, 207);
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#search-input:focus{
  outline: none;
}

#search-submit-button{
  background-color: #F06C4E;
  border: 1px solid #F06C4E;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#search-submit-button:focus{
  border: none;
}

#search-submit-button:hover{
  background-color: #f1522e;
}

#meals-container{
  min-height: calc(100vh - 165px);
}

.icon{
  width: 150px;
}

.loader{
  width: 130px;
}

#meals{
  display: grid;
  gap: 1.5rem;
  justify-content: center;
  align-items: stretch;
  grid-template-columns: 1fr;
}

#meals .meals-box{
  background: #F8F7F5;
  cursor: pointer;
}

.warning-text{
  color:#B2BEC3;
}

#meal-box{
  transition: transform .3s ease-in;
}

#meal-box:hover{
  transform: translateY(-3px);
}

#meal-details{
  height: 100vh;
  background: rgba(0,0,0,.5);
  position: absolute;
  left: 0;
  z-index: 9999;
}

#meal-details-box{
  min-height: 200px;
  max-height: 90vh;
  background: #fff;
  overflow-y:auto
}

#meal-details-box-content{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: row;
  gap: 1.5rem;
}

#meal-details-box-close-button{
  width: 25px;
  cursor: pointer;
  
}

.ingredient-list{
  max-height: 250px;
  overflow-y: auto;
  list-style-type: none;
  margin: 1rem 0 0;
  padding: 0;
  position: relative;
}

.ingredient-list li::before{
  content: '\f058';
  font-family: "Font Awesome 5 Free";
  color: #2ed573;
  margin-right: 10px;
}


/* responsive */
@media only screen and (min-width: 576px){
  #meals{
    grid-template-columns: repeat(2,1fr);
  }
}

@media only screen and (min-width: 768px){
  #meals{
    grid-template-columns: repeat(3,1fr);
  }

  #meal-details-box-content{
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-auto-flow:column;
  }
}
@media only screen and (min-width: 992px){
  #meals{
    grid-template-columns: repeat(4,1fr);
  }
}